@{
    ViewBag.Title = "Company Profiles";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="large-4 columns">
        <h4>@ViewBag.Title</h4>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        @Html.ActionLink("update lat long", "UpdateEmptyLatLong")
    </div>
</div>
<div class="row">
    <div class="large-12 columns" ng-controller="CompanyProfileCtrl">
        <table ng-datatable="options"
            ao-column-defs="columnDefs"
            toolbar="myToolbar">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Manager</th>
                    <th>State</th>
                    <th>Postal Code</th>
                    <th>Subscription</th>
                    <th>Published</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/admin/companyProfile")
}
@section head{
    @Styles.Render("~/Content/foundation/dataTables.foundation.css")
}