@model BCWeb.Models.Project.ViewModel.DuplicatesViewModel
@{
    ViewBag.Title = "Duplicate Projects Found";
}

<div class="row">
    <div class="large-4 columns">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div class="row">
    <div class="large-8 columns">
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Title</th>
                    <th>Architect</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Projects)
                {
                    <tr>
                        <td>@p.Number</td>
                        <td>@p.Title</td>
                        <td>@p.Architect</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
