@{
    ViewBag.Title = "Projects";
}

<div class="row">
    <div class="large-4 columns left">
        <h2>Projects</h2>
        @if (User.IsInRole("architect") || User.IsInRole("general_contractor"))
        {
            @Html.RouteLink("Create new Project", "Default", new { controller = "Project", action = "Create" })
        }
    </div>
</div>
<div class="row" ng-app="projectIndex">
    <div class="large-8 columns" ng-controller="ProjectIndexCtrl">
        <h5>my projects</h5>

        @if (User.IsInRole("architect"))
        {
            <div class="row">
                <div class="large-12 columns">
                    <table style="width: 100%;">
                        <caption>My projects</caption>
                        <thead>
                            <tr>
                                <th>Id
                                </th>
                                <th>Number
                                </th>
                                <th>Name
                                </th>
                                <th>Architect
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mp in myProjects">
                                <td>{{mp.Id}}
                                </td>
                                <td>{{mp.Number}}
                                </td>
                                <td>{{mp.Title}}
                                </td>
                                <td>{{mp.Architect}}
                                </td>
                                <td>
                                    <a href="/Project/Details/{{mp.Id}}">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @if (User.IsInRole("architect") || User.IsInRole("general_contractor"))
        {
            <div class="row">
                <div class="large-12 columns">
                    <table style="width: 100%;">
                        <caption>Projects I created</caption>
                        <thead>
                            <tr>
                                <th>Id
                                </th>
                                <th>Number
                                </th>
                                <th>Name
                                </th>
                                <th>Architect
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mcp in myCreateProjects">
                                <td>{{mcp.Id}}
                                </td>
                                <td>{{mcp.Number}}
                                </td>
                                <td>{{mcp.Title}}
                                </td>
                                <td>{{mcp.Architect}}
                                </td>
                                <td>
                                    <a href="/Project/Details/{{mcp.Id}}">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (!User.IsInRole("architect"))
        {
            <div class="row">
                <div class="large-12 columns">
                    <table style="width: 100%;">
                        <caption>Projects I have been invited to bid on</caption>
                        <thead>
                            <tr>
                                <th>Id
                                </th>
                                <th>Number
                                </th>
                                <th>Name
                                </th>
                                <th>Architect
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ip in invitedProjects">
                                <td>{{ip.Id}}
                                </td>
                                <td>{{ip.Number}}
                                </td>
                                <td>{{ip.Title}}
                                </td>
                                <td>{{ip.Architect}}
                                </td>
                                <td>
                                    <a href="/Project/Details/{{ip.Id}}">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <table style="width: 100%;">
                        <caption>Public Projects</caption>
                        <thead>
                            <tr>
                                <th>Id
                                </th>
                                <th>Number
                                </th>
                                <th>Name
                                </th>
                                <th>Architect
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ip in publicProjects">
                                <td>{{ip.Id}}
                                </td>
                                <td>{{ip.Number}}
                                </td>
                                <td>{{ip.Title}}
                                </td>
                                <td>{{ip.Architect}}
                                </td>
                                <td>
                                    <a href="/Project/Details/{{ip.Id}}">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }


    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/projectindex")
}