@{
    ViewBag.Title = "Welcome to bidCHUCK!";
}

<div ng-app="myApp">
    <div ng-controller="HomeCtrl">
        <div class="row">
            <div class="large-8 columns large-centered">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>

        @Html.Partial("_NewestMembers")


    </div>
</div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/Scripts/Areas/Home/HomeCtrl.js")
}