@{
    ViewBag.Title = "Welcome to bidCHUCK!";
}


<div ng-controller="HomeCtrl">
    <div class="row">
        <div class="large-8 columns large-centered">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>





</div>


@section scripts{
    @Scripts.Render("~/bundles/home")
}