@{
    ViewBag.Title = "Welcome to bidCHUCK!";
}

<div ng-app="myApp">
    <div ng-controller="HomeCtrl">
        <div class="row">
            <div class="large-8 columns large-centered">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-10 columns">

                <div class="small-4 columns">
                    @Html.Partial("_NewestMembers")
            
                </div>
            </div>
            
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/Areas/Home/HomeCtrl.js")
}