@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <div class="large-5 columns">
        <h2>Notifications</h2>
    </div>
</div>
<div class="row">
    <div class="large-8 columns">
        @* loop through date*@
        @* loop through notifications. sorted by most recent received*@
    </div>
</div>
