@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <div class="large-5 columns">
        <h2>Notifications</h2>
    </div>
</div>
<div class="row">
    <div class="large-8 columns">
        <div ng-controller="NotificationCtrl">
            <ul class="no-bullet">
                @* loop through date*@
                <li ng-repeat="dp in DatePool">
                    <h5>{{dp.Date}}</h5>
                    <ul>
                        @* loop through notifications. sorted by most recent received*@
                        <li ng-repeat="n in dp.Notices">{{n.Message}}
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/allnotifications")
}