@{
    ViewBag.Title = "Manage Scopes";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<h2>Manage Scopes</h2>


<div class="row" ng-app="scopePicker">
    <div class="large-12 columns" ng-controller="ScopesCtrl">
        <div class="row">
            <div class="large-2 columns">
                <button class="medium button" ng-click="saveChanges()" ng-disabled="saving">Save</button>
            </div>
            <div class="large-3 columns left">
                <div ng-show="saving" style="text-align: center;">
                    <img src="~/Content/images/saving.gif" alt="saving gif" />
                </div>
                <span ng-show="saved">Succefully Saved
                    <img src="~/Content/images/small_green_check.png" alt="green checkmark" /></span>
                <span ng-show="cantsave">There was a problem saving.  Please try again.</span>
            </div>
        </div>
        @Html.AntiForgeryToken()
        @Html.Partial("_ScopePicker")

    </div>

</div>


@section scripts{
    @Scripts.Render("~/bundles/scopepicker")
}
@section head{
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
}