<div class="row">
    <div class="large-2 columns">
        @Html.AntiForgeryToken()
        <input type="button" class="medium button expand" value="Is a Contact" data-dropdown="drop1" data-options="is_hover:true" />
        <ul id="drop1" class="f-dropdown" data-dropdown-content>
            <li><a href="#" ng-click="disconnect()">Remove Contact</a></li>
            <li><a href="#" ng-click="block">Block</a></li>
        </ul>
    </div>
</div>
