<div class="row">
    <div class="large-2 columns">
        @Html.AntiForgeryToken()
        <input type="button" class="medium button expand" value="Add Contact" ng-click="sendContactRequest()" />
    </div>
</div>
@section scripts{

}