<div class="row">
    <div class="large-4 columns">
        @Html.AntiForgeryToken()
        <div class="panel">
            <div>You have pending Contact Request</div>
            <input type="button" class="medium button" value="Accept" ng-click="acceptContactRequest()" />
            <input type="button" class="medium secondary button" value="Decline" ng-click="declineContactRequest()" />
        </div>
    </div>
</div>
