@{
    ViewBag.Title = "Contact BidChuck";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>111.111.1111</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>111.111.1111</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:support@bidchuck.com">support@bidchuck.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:marketing@bidchuck.com">marketing@bidchuck.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:general@bidchuck.com">general@bidchuck.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>

    </p>
</section>