<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bcdev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bcdev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$bcdev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BCModel.BidChuckContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sowij7mkhb.database.windows.net,1433;Initial Catalog=BCData;User ID=BCWeb@sowij7mkhb;Password=&quot;RA6)%j[2.C]S}#'&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BCModel.BidChuckContext, BCModel" MigrationConfiguration="BCModel.Migrations.Configuration, BCModel" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sowij7mkhb.database.windows.net,1433;Initial Catalog=BCData;User ID=BCWeb@sowij7mkhb;Password=&quot;RA6)%j[2.C]S}#'&quot;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-BCWeb-20130810.mdf;Initial Catalog=aspnet-BCWeb-20130810;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-BCWeb-20130810;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-BCWeb-20130810.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BCModel.BidChuckContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sowij7mkhb.database.windows.net,1433;Initial Catalog=BCData;User ID=BCWeb@sowij7mkhb;Password="RA6)%j[2.C]S}#'"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sowij7mkhb.database.windows.net,1433;Initial Catalog=BCData;User ID=BCWeb@sowij7mkhb;Password="RA6)%j[2.C]S}#'"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BCModel.BidChuckContext" />
  </ItemGroup>
</Project>