@*Requires angular*@

<div ng-controller="ScopesCtrl">
    <form>
        <select id="FirstTier" 
            ng-model="selectedFirstT" 
            ng-options="x.Id as x.Description for x in Scopes | filter:{ ParentId : '!'}">
            <option value="">-- Select --</option>
        </select>

        <select id="SecondTier" 
            ng-model="selectedSecondT" 
            ng-change="secondChanged()"
            ng-options="y.Id as y.Description for y in Scopes | filter: parentIdEqual(selectedFirstT)">
            <option value="">-- Select --</option>
        </select>

        <select id="ThirdTier" 
            multiple
            ng-model="selectedThirdT" 
            ng-options="z.Id as z.Description for z in Scopes | filter: parentIdEqual(selectedSecondT)">
        </select>
    </form>
</div>
