@{
    ViewBag.Title = "Registration Completed";
}

<h2>Registration Completed</h2>
<p>You have completed the registration process. You can now sign in to the system by clicking <a href="/Account/SignIn">here</a>.</p>