@model BCWeb.Models.Account.ViewModel.EditProfileViewModel
@{
    ViewBag.Title = "EditProfile";
}

<div class="row">
    <div class="large-3 columns large-centered">
        <h3>Edit Profile</h3>
    </div>
</div>
