@{
    ViewBag.Title = "Forgot Password";
}

<h2>Password Reset Instructions</h2>
<p>An email with a link allowing you to reset your password has been sent. It should arrive in your email inbox soon. Visit the link contained in the email to reset your password.</p>
