@model BCWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "Password Changed";
}

<div class="row">
    <div class="large-4 columns large-centered">
        <hgroup class="title">
            Your password has been changed!
        </hgroup>
    </div>
</div>
<div class="row">
    <div class="large-2 columns large-centered">
        @Html.RouteLink("Sign In","Default",new { controller = "Account", action="SignIn"})
    </div>
</div>